body {
  font-family: Arial, sans-serif;
  background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/25372434-barbearia-desatado-padrao-preto-em-branco-recorrente-padronizar-impressao-para-homens-s-barbeiro-fazer-compras-uma-conjunto-do-acessorios-para-homens-s-cabeleireiro-em-branco-fundo-vetor.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input, select, button {
  padding: 10px;
  margin-top: 5px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #555;
}

#mensagem {
  margin-top: 20px;
  text-align: center;
}
.loading {
  width: 30px;
  animation: spin 1s infinite linear;

}

@keyframes spin {
  from{
  transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
